@{
    ViewBag.Title = "Propertytenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="back">
    <div class="">
        <div>
            <div class="col-lg-6">
                <h1>Test Property1 Tenants</h1>
            </div>
            <div class="col-lg-6" style="padding-top:20px;text-align:right">
                <a id="referralBtn" class="button" href="/tenant-referral">Back to Properties</a>
            </div>

        </div>

    </div>


    <table class="table  table-hover ">
        <thead>
            <tr>
                <th class="text-left">
                    Name
                </th>
                <th class="text-left">
                    Address
                </th>
                <th class="text-left">
                    Balance Due
                </th>
    </table>




    <table class="table  table-hover ">
        <thead>
            <tr>
                <th class="text-left" style="padding-bottom:70px">
                    Jack tripper
                </th>
                <th class="text-left" style="padding-bottom:70px">
                    <a href="#">Jtripper@gmail.com</a>
                </th>
                <th class="text-left" style="padding-bottom:70px">
                    $2,385.00
                </th>
                <td>
                    <div class="pull-right" style="width:159px;height:120px">


                        <button class='btn btn-primary btn-sm btn-block'>Edit Tenants</button>
                        <br />

                        <button class='btn btn-primary btn-sm btn-block'>View Tenant's Payments</button>
                        </div>
                </td>


    </table>
</div>


   
