@{
    ViewBag.Title = "ViewTenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="back">
        <div class="col-lg-6" style="padding-left:11px">
            <h1>Test Owner's Tenants</h1>
            <p>*=Tenants has been removed</p>
            <h2>Test property1</h2>

        </div>
        <div class="col-lg-6" style="padding-top:20px;text-align:right">
            <a id="referralBtn" class="button" href="/tenant-referral">Back to All Property Owners</a>
        </div>

        <table class="table  table-hover ">
          
            <thead>
                <tr>
                    <th class="text-left">
                        Name
                    </th>
                    <th class="text-left" style="width:754px">
                        Email Address
                    </th>
        </table>

        <table class="table  table-hover ">
           
            <thead>
                <tr>
                    <th class="text-left" style="padding-bottom:70px" ">
                        Test Owner
                    </th>
                    <th class="text-left" style="padding-bottom:70px">
                        <a href="#">Owner@test.com</a>
                    </th>
                    <td>
                        <div class="pull-right" style="width:240px">
                            <button class='btn btn-primary btn-sm btn-block'>Edit Tenants </button>
                            <br />
                            <button class='btn btn-primary btn-sm btn-block'>View Tenant Payments</button>
                        </div>
                    </td>
 
   <br />
    <table class="table  table-hover ">
        <h2 style="padding-left:10px">Test property2</h2><br />
        <thead>
            <tr>
                <th class="text-left" style="padding-bottom:70px">
                    Name
                </th>
                <th class="text-left" style="padding-bottom:70px;width:753px">
                    Email Address
                </th>
            </tr>
    </table>

    <table class="table  table-hover ">

        <thead>

            <tr>
                <th class="text-left" style="padding-bottom:70px">
                    Test Owner
                </th>
                <th class="text-left" style="padding-bottom:70px">
                    <a href="#">Owner@test.com</a>
                </th>
                <td>
                    <div class="pull-right" style="width:240px">
                        <button class='btn btn-primary btn-sm btn-block'>Edit Tenants </button>
                        <br />
                        <button class='btn btn-primary btn-sm btn-block'>View Tenant Payments</button>
                    </div>
                </td>
            

    </table>
                    <h2 style="padding-left:10px">Test Property3</h2><br />
                    <p style="padding-left:10px">This Property has no Tenants Registered Yet</p><br />
                    <h2 style="padding-left:10px">Test Property4</h2><br />
                    <p style="padding-left:10px">This Property has no Tenants Registered Yet</p><br />
                    <h2 style="padding-left:10px">Some Palce</h2><br />
                    <h2 style="padding-left:10px">Test Due 12th</h2>
<table class="table  table-hover ">
    <thead>
        <tr>
            <th class="text-left">
                Name
            </th>
            <th class="text-left" style="width:755px">
                Email Address
            </th>
</table>
<table class="table  table-hover ">

    <thead>

        <tr>
            <th class="text-left" style="padding-bottom:47px">
                Test Owner
            </th>
            <th class="text-left" style="padding-bottom:47px">
                <a href="#">Owner@test.com</a>
            </th>
            <td>
                <div class="pull-right" style="width:240px">
                    <button class='btn btn-primary btn-sm btn-block'>Edit Tenants </button>
                    <br />
                    <button class='btn btn-primary btn-sm btn-block'>View Tenant Payments</button>
                </div>
            </td>
         
  </table>




</div>
