@{
    ViewBag.Title = "ViewProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="back">
        <div class="col-lg-6">
            <h1>Test Owner's Property </h1>
        </div>
        <div class="col-lg-6" style="padding-top:20px;text-align:right">
            <a id="referralBtn" class="button" href="/tenant-referral">Back to Properties</a>
        </div>
        <div class="back" style="padding:0px">
            <table class="table  table-hover ">
                <thead>
                    <tr>
                        <th class="text-left" style="width:160px">
                            Name
                        </th>
                        <th class="text-left" style="width:240px">
                            Address
                        </th>
                        <th class="text-left" style="width:100px">
                            Tenants
                        </th>
                        <th class="text-left" style="width:300px">
                            Rent
                        </th>
                        <th class="text-left" style="width:100px">
                            Options
                        </th>

            </table>



            <table class="table  table-hover ">
                <thead>
                    <tr>
                        <th class="text-left" style="padding-bottom:70px">
                            Jack tripper
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            <a href="#">Jtripper@gmail.com</a>
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            <a href="#">jackTripper</a>
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            $2,385.00
                        </th>
                        <td>
                            <div class="pull-right">
                                <button class='btn btn-primary btn-sm btn-block'>View Properties</button>
                                <br />

                                <button class='btn btn-primary btn-sm btn-block'>View Tenants</button>
                                <br />

                                <button class='btn btn-primary btn-sm btn-block'>View Tenant Payments</button>
                            </div>
                        </td>

                <thead>
                    <tr>
                        <th class="text-left" style="padding-bottom:70px">
                            Jack tripper
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            <a href="#">Jtripper@gmail.com</a>
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            <a href="#">jackTripper</a>
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            $2,385.00
                        </th>
                        <td>
                            <div class="pull-right">
                                <button class='btn btn-primary btn-sm btn-block'>View Properties</button>
                                <br />

                                <button class='btn btn-primary btn-sm btn-block'>View Tenants</button>
                                <br />

                                <button class='btn btn-primary btn-sm btn-block'>View Tenant Payments</button>
                            </div>
                        </td>


                <thead>
                    <tr>
                        <th class="text-left" style="padding-bottom:70px">
                            Jack tripper
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            <a href="#">Jtripper@gmail.com</a>
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            <a href="#">jackTripper</a>
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            $2,385.00
                        </th>
                        <td>
                            <div class="pull-right">
                                <button class='btn btn-primary btn-sm btn-block'>View Properties</button>
                                <br />

                                <button class='btn btn-primary btn-sm btn-block'>View Tenants</button>
                                <br />

                                <button class='btn btn-primary btn-sm btn-block'>View Tenant Payments</button>

                            </div>
                        </td>

                <thead>
                    <tr>
                        <th class="text-left" style="padding-bottom:70px">
                            Jack tripper
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            <a href="#">Jtripper@gmail.com</a>
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            <a href="#">jackTripper</a>
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            $2,385.00
                        </th>
                        <td>
                            <div class="pull-right">
                                <button class='btn btn-primary btn-sm btn-block'>View Properties</button>
                                <br />

                                <button class='btn btn-primary btn-sm btn-block'>View Tenants</button>
                                <br />

                                <button class='btn btn-primary btn-sm btn-block'>View Tenant Payments</button>
                            </div>
                        </td>



                <thead>
                    <tr>
                        <th class="text-left" style="padding-bottom:70px">
                            Jack tripper
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            <a href="#">Jtripper@gmail.com</a>
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            <a href="#">jackTripper</a>
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            $2,385.00
                        </th>
                        <td>
                            <div class="pull-right">
                                <button class='btn btn-primary btn-sm btn-block'>View Properties</button>
                                <br />

                                <button class='btn btn-primary btn-sm btn-block'>View Tenants</button>
                                <br />

                                <button class='btn btn-primary btn-sm btn-block'>View Tenant Payments</button>
                            </div>
                        </td>



                <thead>
                    <tr>
                        <th class="text-left" style="padding-bottom:70px">
                            Jack tripper
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            <a href="#">Jtripper@gmail.com</a>
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            <a href="#">jackTripper</a>
                        </th>
                        <th class="text-left" style="padding-bottom:70px">
                            $2,385.00
                        </th>
                        <td>
                            <div class="pull-right">
                                <button class='btn btn-primary btn-sm btn-block'>View Properties</button>
                                <br />

                                <button class='btn btn-primary btn-sm btn-block'>View Tenants</button>
                                <br />

                                <button class='btn btn-primary btn-sm btn-block'>View Tenant Payments</button>
                            </div>
                        </td>
            </table>
        </div>
    </div>
