@{
    ViewBag.Title = "About Us";
}
<div class="back">

    <h1>About Us</h1>
    <p>BGBC Management LLC is a full service property management company based in The Woodlands, Texas. We have a rich history managing, leasing, and selling single-family homes and condominiums.</p>
    <p>Being an experienced leader in property management gives us an edge with market-specific expertise in a complex and evolving real estate landscape. We are experts at turning around underperforming properties, increasing your occupancy rate, and maximizing cash flow. Our services save our clients time and money.</p>
    <p>Whether you own one or many properties, we're confident you will find our property management services and our property managers experienced to fit your needs. We are the right solution to your investment property needs.</p>
    <p>In addition to our exceptional property management solutions, small businesses utilize our vast network of payment processing solutions, which includes solutions to increase sales through secure debit and credit card processing, along with mobile and web-based payment solutions – all of which you can utilize with comfort, knowing we use secure networks with PCI DSS compliance.</p>

    <img src="~/Content/images/about-us.jpg" class="img-responsive">

</div>
