
@{
    ViewBag.Title = "PaymentProcess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="back ">

    
    <h1>Payment Processing</h1>
    <div class="clearfix"></div>
    <p>As a property owner, are you still collecting checks in the mail? Ready to offer your tenants the chance to pay their rent with ACH and credit card options? We offer a secure, PCI DSS compliant option that will make managing your cash flow easier and keep your tenants happy and paying rent on time.</p>
    <p style="color:blue;text-decoration:none"> @Html.ActionLink("Get started today. Signing up is simple", "Register", "Home") </p>
    <p>If you’re renting and would like to be able to pay your rent online, let your property manager know BGBC has a simple solution. Your property manager must register with BGBC.</p>
    <br><img src="~/Content/images/payment-processing.jpg">

</div>