
@{
    ViewBag.Title = "Rental Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="back">    
        <h1>Rental Management</h1>
    <p>Handling your own rental property can be a time consuming, expensive endeavor. You can trust BGBC Management to help protect your property and deliver maximum return on your investment. Our staff is highly experienced in landlord-tenant relations. We list your property with the most qualified brokers and carefully evaluate prospective tenants to protect you from costly tenant calamities.</p>
    <p>You can keep your peace of mind knowing our maintenance staff is available 24/7 to handle all major and minor repairs. If you don’t see what you need here, call us at <a style="cursor:pointer;">281-407-1919</a> and we can customize a package for your unique needs.</p>
    <br>
    <img src="~/Content/images/rental-management.jpg" />

</div>

