@{
    ViewBag.Title = "Tenants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="back">
    <div class="col-md-12 no-padd">
        <div class="col-md-6 no-padd">
            <h1>Tenants</h1></div>

            <div class="col-md-6 no-padd header-btn">
                <input type="button" value="I want to save $25 on my next rent" onclick="location.href='@Url.Action("TenantReferral", "Home")'" class="btn-button btn-primary btn button" />
            </div>
        </div>

    <div class="clearfix"></div>
    <div class="Row">
        <p>We want you to know we are here to provide excellent service from screening, move-in and ongoing life at our properties. We provide you with your own password protected dashboard to make repair requests, view monthly statements and receipts as well as pay your rent directly on-line.</p>
        <p>We are available 24/7 for maintenance requests or unexpected issues you experience. Of course we are always available via phone, email, fax, and Facebook.</p>
        <br><img src="~/Content/images/tenants.jpg">
    </div>



</div>

